<br>
<div class="jumbotron" style="background-color: #fff;">
    <h1>Find employees now</h1> 
    <p>Recruitment shouldn't be hard and it doesn't have to be. Create an account to begin.</p>
    	<%= link_to "Create an account", {controller: "users", action: "new"}, class: "btn btn-lg btn-primary" %>
</div>