<% if @job.errors.any? %>
<div class="alert alert-danger" role="alert">
		<p><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>The form contains <%= pluralize(@job.errors.count, "error") %>.
	<ul>
		<% @job.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>