<h1>Your dashboard</h1> 
<div class="row">
  <div class="col-xs-6 col-md-2">
    <a href="#" class="thumbnail">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Create a job advert
    </a>
  </div>
  <div class="col-xs-6 col-md-2">
    <a href="#" class="thumbnail">
      <span class="glyphicon glyphicon-list" aria-hidden="true"></span>List all jobs
    </a>
  </div>
  <div class="col-xs-6 col-md-2">
    <a href="#" class="thumbnail">
      <span class="glyphicon glyphicon-file" aria-hidden="true"></span>Review applications
    </a>
  </div>
  <div class="col-xs-6 col-md-2">
    <a href="#" class="thumbnail">
      <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>Shortlist candidates
    </a>
  </div>
  <div class="col-xs-6 col-md-2">
    <a href="#" class="thumbnail">
      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>Schedule interviews
    </a>
  </div>
  <div class="col-xs-6 col-md-2">
    <a href="#" class="thumbnail">
      <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>Upload interview results
    </a>
  </div>
</div>
