<h1>Your dashboard</h1> 
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      Create a vacancy
    </a>
  </div>
</div>
