// Place all the styles related to the JobsController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn.btn-primary.btn-lg {
  color: #fff;
}

body {
  background-image: image-url("background_pattern.png");
}

@import '_grid_layout';
@import '_typography';
@import 'design-patterns/_alpha-beta';
@import '_colours';



#page-container {
  @extend %site-width-container;
  background-color: #fff;
}
.grid-row {
  @extend %grid-row;

  .column-third {
    @include grid-column( 1/3 );
  }
  .column-two-thirds {
    @include grid-column( 2/3 );
  }
}
.hero-image {
  @extend %outdent-to-full-width;
}

.phase-banner  {
  @include phase-banner();
}

.grid-row {
h1 {
  @include core-48;
}

h2 {
  @include core-24($line-height: (50/24), $line-height-640: (18/16));
}
}

.details {
	background-color: $turquoise;
	padding: 15px 15px;

	h1, h2, h3, p {
		color: #ffffff;
	}
	p {
		@include core-19;
	}
}


