<h1><small>Step 2 of 2</small><br>Set locations</h1>
<% unless @locations.blank? %>
<div class="location">
	<img src="https://maps.googleapis.com/maps/api/staticmap?size=800x400&markers=color:blue%7Clabel:J%7C<% @locations.each do |l| %><%= l.latitude %>,<%= l.longitude %>%7C<% end %>&key=AIzaSyBB3SruykFFAP7qsmV9Sln2nQ6aIYCXYI8">
</div>
<br>
<% end %>
<%= render 'shared/location_form' %>